{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/homestyle.css' %}" rel="stylesheet">
    <link rel="icon" href="images/Webalys-Kameleon.pics-Food-Dome.ico"/>
    <style>
        .align {
            text-align: center;
        }

        .aligndiv {
            margin: 5px;
            padding-bottom: 50px;

        }</style>
{% endblock css %}
{% block content %}
    <div>
        <br/>
        <h1 class="align">Trending Blogs</h1>
        <hr color="orange">
        <hr color="green">
        <br size="3"/>
    </div>
    <div class="container">
        <form class="" action="{% url "movetrending" %}" method="POST">
            {% csrf_token %}
            {% for j in Trending %}
                <button type="button aligndiv" class="btn btn-dark" value="{{ j.blog_link }}" name="Trending_button"
                        onclick="location.href='{{ i.blog_link }}';" style="cursor: pointer;">
                    <img src="{{ j.img_link }}" alt="SoOrY,U r NoT So LuCkY" height="200px" width="350px">
                    <br/>
                    <hr>
                    <h3>{{ j.title }}</h3>
                    <hr>
                    <p>
                        {{ j.summary }}
                    </p>
                    <h5>Author {{ j.author }}</h5>
                </button>
                <hr color="orange">
                <hr color="green">
            {% endfor %}

        </form>
    </div>
    <br size="10"/>
    <form action="{% url "blog" %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="dropdown">
                <div class="select">
                    <table cellspacing="20">
                        <tr>
                            <td><select class="sh btn btn-light dropdown-toggle" name="cat">
                                <option>Categories</option>
                                <option value="All">All</option>
                                {% for i in cate %}
                                    <option value="{{ i.id }}">{{ i.categories }}</option>
                                {% endfor %}
                            </select>
                            </td>
                            <td>
                                <input class="sh btn btn-success" type="submit" name="" value="Find">
                            </td>
                        </tr>
                    </table>


                </div>
                <p>{{ categories }}</p>
            </div>
    </form>

    <h1 class="align">Blog Hub !</h1>
    <hr color="orange">
    <hr color="green">

    <form class="" action='{% url "move" %}' method="POST">
        {% csrf_token %}

        {% for i in blogs %}

            <button type="button aligndiv" name="button" value="{{ i.blog_link }}" class="btn btn-light"
                    onclick="location.href='{{ i.blog_link }}';" style="cursor: pointer;">
                <img src="{{ i.img_link }}" alt=" sorry ,u r not so lucky " height="200px" width="350px">
                <br/>
                <hr>
                <h2>{{ i.title }}</h2>
                <hr>
                <p>
                    {{ i.summary }}
                </p>
            </button>
            <hr color="black">
        {% endfor %}
    </form>
{% endblock content %}
