{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/homestyle.css' %}" rel="stylesheet">
    <style>
        .align {
            text-align: center;
        }

        .aligndiv {
            margin: 5px;
            padding-bottom: 50px;
        }</style>
{% endblock css %}

{% block content %}
    <div class="container my-5">
        <section title="trendingvideos" style="background-color: " white
        ";">
        <h2 style="text-align: center; padding-top:20px;padding-bottom:20px;"><strong>Trending Videos </strong></h2>
        <hr color="orange">
        <hr color="green">
        <div class="container">

            {% for i in tvid %}
                <div style="text-align: center;">
                    <h2 style="text-align: center;padding-top: 20px; padding-bottom:20px;">{{ i.title }}</h2>
                    <iframe width="auto" height="315" src="{{ i.link_video }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <p style="padding-top: 20px;padding-bottom:20px">
                        {{ i.summary }}
                    </p>
                    <hr class="align " color='black'>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
    <br size="10"/>

    <section title="videohub">
        <h2 style="text-align: center; padding-top:20px;padding-bottom:20px;"><strong> Video Hub </strong></h2>
        <hr color="orange">
        <hr color="green">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#"><h1 style="color:white;"><strong></strong></h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" href="#"></a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0" action="{% url "vlog" %}" method="POST">
                        {% csrf_token %}
                        <div class="container">
                            <div class="dropdown">
                                <div class="select">
                                    <table cellspacing="20">
                                        <tr>
                                            <td><select class="sh btn btn-primary dropdown-toggle" name="search_op">
                                                <option>Categories</option>
                                                <option value="All">All</option>
                                                {% for i in vcate %}
                                                    <option value="{{ i.id }}">{{ i.video_categories }}</option>
                                                {% endfor %}
                                            </select>
                                            </td>
                                            <td>
                                                <input class="sh btn btn-success" type="submit" name="" value="Find">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <p>{{ categories }}</p>
                            </div>
                    </form>
                </div>
            </nav>

            {% for i in videos %}
                <div class="container" style="text-align: center;">
                    <h2 style="text-align: center;padding-bottom:20px;">{{ i.title }}</h2>
                    <iframe width="560" height="315" src="{{ i.link_video }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <p style="padding-top:20px;">
                        {{ i.summary }}
                    </p>
                    <hr color="black">
                </div>
            {% endfor %}

    </section>
    </div>
{% endblock content %}
